<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Mbox.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EDBD0A111BDC376900F900A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDBD0A251BDC376900F900A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDBD0A301BDC376A00F900A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
